@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */
/* 2d0251 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
